* {
    margin: 0px;
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

header>img {
    padding: 29px 0px 19px 76px;
}

header>nav {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    padding-right: 106px;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-left: 76px;
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 20px;
}

a:hover {
    color: #037cff;
}
/* section image */
.section1 {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    justify-content: center;
    align-items: center;
}

.her-box {
    /* background-image: url("./images/yibei-geng--UdYbiywGeg-unsplash.png");
  background-size: contain; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -350px;
    row-gap: 15px;
    width: 55%;
}

.her-image {
    width: 100%;
    height: 630px;
}

.her-box>span {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    font-variant: all-petite-caps;
}

.her-box>p {
    font-size: 0.6em;
    color: #ffffff;
    line-height: 38px;
}

.her-box>button {
    font-size: 0.5em;
    color: #ffffff;
    background-color: #037CFF;
    border-radius: 7px;
    border: none;
    padding: 17px 80px;
    /* width: 32%; */
}
/* section about company */
.section2 {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: center;
}