* {
  margin: 0px;
  font-family: "Exo 2", sans-serif;
}

.content-wrapar {
  display: flex;
  flex-direction: column;
  /* padding: 113px 140px 0px 140px; */
  row-gap: 45px;
  width: 90%;
  margin: 113px auto;
}

.top-secton {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  font-size: 50px;
}
.top-secton >img{
flex: 1;
}
.top-section > section {
  flex: 1;
}
.topSectionSpan {
  font-size: 1em;
  color: #6776af;
  font-weight: bold;
}
.topSectionp {
  font-size: 0.5em;
  color: #acacac;
  font-weight: 300;
  line-height: 33px;
  margin: 17px 0px 64px 0px;
}
.form-row {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 14px;
}
.form-group > label {
  font-size: 0.5em;
  color: #4a4a4a;
}

.form-group > input {
  height: 50px;
  border-width: 0.5px;
  border-color: #707070;
  border-radius: 5px;
  border-style: solid;
  font-size: 0.3em;
  padding-left: 10px;
  font-family: "Exo 2", sans-serif;
  color: #7895b2;
}
.form-row:first-child {
  margin-bottom: 38px;
}
.save-btn {
  background-color: #273685;
  color: white;
  height: 55px;
  width: 260px;
  border-radius: 27.5px;
  float: right;
  margin-top: 27px;
  border: none;
  font-size: 0.5em;
  font-weight: 300;
  font-family: "Exo 2", sans-serif;
}
.bottom-section {
  background-color: #f9faff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  padding: 0px 65px;
}
table {
  width: 100%;
  font-size: 25px;
  border-collapse: collapse;
}
table > thead {
  color: #273685;
  font-size: 1em;
  border-bottom: 1px solid #273685;
  padding: 14px 0px;
}
table > thead > tr > th {
  width: 25%;
  height: 67px;
  vertical-align: bottom;
  padding-bottom: 14px;
}
table > thead > tr > th:first-child {
  text-align: left;
}
tbody > tr {
  border-bottom: 1px solid #d8d8d8;
}

tbody > tr:last-child {
  border-bottom: none;
}

td:first-child {
  text-align: start;
}

td {
  color: #4a4a4a;
  font-size: 0.6em;
  text-align: center;
  height: 80px;
}